body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container {
    background-color: #2b3137;
}

/* Cover Section */

.cover_container{
    height: 100vh;
    background-image: url(../images/background-1.png);
    background-size: cover;
    color: #12120F;
    display: flex;
}

.cover_content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.cover_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60%;
    background-image: url(../images/text_cloud.png);
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat; 
    margin-right: 10%;
    margin-left: 5%;
}

.cover_container h1{
    font-size: 3vw;
    text-align: center;
    width: 60%;    
    margin-bottom: 10px;
    margin-top: 20px;
}

.cover_container p {
    margin: 0;
    text-align: center;
    width: 60%;
    font-size: 2vw;
}

.cover_container img {
    border-radius: 50%;
    width: 100%;
    max-width: 15%;
}

/* About Section */

.me_container{
    height: 100vh;
    background-image: url(../images/background-4.png);
    background-size: cover;
    color: #12120F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me_title {
    background-color: #EAE6E5;
    height: 10%;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3%;
}

.me_title h1{
    font-size: 3vw;
    margin: 0;
}

.me_content {
    display: flex;
    width: 100%;
    height: 90%;
}

.resume{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 100%;
}

.myself {
    background-color: #EAE6E5;
    width: 80%;
    height: 40%;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 10px;
}

.languages{
    background-color: #EAE6E5;
    width: 80%;
    height: 40%;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 10px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.skills h2 {
    font-size: 3vw;
    text-align: center;
}

.skills li {
    font-size: 1vw;
}

.hard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EAE6E5;
    width: 40%;
    height: 80%;
    padding: 1%;
    border-radius: 10px;
}

.skills_images {
    display: flex;
    justify-content: space-evenly;
}

.skills_images img{
    max-width: 20%;
    padding-bottom: 10%;
}

.soft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EAE6E5;
    width: 40%;
    height: 80%;
    padding: 1%;
    border-radius: 10px;
}


/* Background Section */

.about_container{
    height: 100vh;
    background-image: url(../images/background-2.png);
    background-size: cover;
    color: #12120F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title{
    background-color: #EAE6E5;
    height: 10%;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3%;
}

.about_title h1 {
    font-size: 3vw;
    margin: 0;
}

.about_content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.card{
    background-color: #EAE6E5;
    width: 30%;
    height: 80%;
    margin-top: 2%;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

.card h3{
    font-size: 1.2vw;
}

.card p {
    text-align: justify;
    font-size: 1vw;
    margin: 5px;
}

.card ul{
    margin-bottom: 5%;
}

.card_images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.card_images img {
    width: 100%;
    max-width: 20%;
    height: auto;
    display: block;
}

/* Projects Section */

.projects_container {
    height: 100vh;
    background-image: url(../images/background-3.png);
    background-size: cover;
    color: #12120F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_title{
    background-color: #EAE6E5;
    height: 10%;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3%;
}

.projects_title h1 {
    font-size: 3vw;
    margin: 0;
}

.projects_content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
}

.project_card{
    width: 25%;
    height: 85%;
    margin-top: 3%;
    background-color: #EAE6E5;
    text-align: center;
    border-radius: 10px;
}

.technologies{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.technologies img {
    max-width: 10%;
}

video {
    margin-top: 10%;
    border-radius: 10px;
}

.github img{
    margin-top: 5%;
    width: 10%;
}

.github:hover img {
    content: url('../images/github-icon-2.svg');
}

/* Certification Section */

.certi_container {
    height: 100vh;
    background-image: url(../images/background-5.png);
    background-size: cover;
    color: #12120F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certi_title {
    background-color: #EAE6E5;
    height: 10%;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3%;
}

.certi_title h1 {
    font-size: 3vw;
    margin: 0;
}

.certi_content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.certi_row {
    display: flex;
    justify-content: space-evenly;
}

.certi_row img{
    width: 20%;
    border-radius: 10px;
}

/* Contact Section */

.contact_container {
    height: 100vh;
    background-image: url(../images/background-6.png);
    background-size: cover;
    color: #12120F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_title {
    background-color: #EAE6E5;
    height: 10%;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3%;
}

.contact_title h1 {
    font-size: 3vw;
    margin: 0;
}

.contact_content {
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.phone {
    text-align: center;
    background-color: #EAE6E5;
    width: 20%;
    border-radius: 10px;
}

.links {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: #EAE6E5;
    width: 10%;
    height: 20%;
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    font-size: 1vw;
}

#email {
    background-image: linear-gradient(to bottom, #8FCB9B, #61d080);
}

#email:hover {
    background-image: linear-gradient(to bottom, #EAE6E5, #cadccf);
    color: #8FCB9B;
}

#linkedin {
    background-image: linear-gradient(to bottom, #0E76A8, #4815ff);
}

#linkedin:hover {
    background-image: linear-gradient(to bottom, #EAE6E5, #cadccf);
    color: #0E76A8;
}

#github {
    background-image: linear-gradient(to bottom, #2b3137, #2a3751);
} 

#github:hover {
    background-image: linear-gradient(to bottom, #EAE6E5, #cadccf);
    color: #2b3137;
}

/* Mobile Devices */
@media (max-width: 480px) {
    /* Cover Section */
    .cover_content{
        flex-direction: column;
    }

    .cover_text{
        height: 30%;
        width: 100%;
    }

    .cover_container h1{
        font-size: 6vw;
    }

    .cover_container p{
        font-size: 4vw;
    }

    .cover_container img{
        max-width: 50%;
    }
    
    /* About Section */

    .me_container {
        height: 100%;
    }

    .me_title {
        width: 80%;
        margin-top: 10px;
    }

    .me_title h1 {
        font-size: 9vw;
    }

    .me_content {
        flex-direction: column;
    }

    .resume {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 40%;
    }

    .resume h2 {
        font-size: 5vw;
    }

    .resume p {
        font-size: 2.5vw;
    }

    .myself {
        width: 50%;
        margin: 5%;
    }

    .languages {
        width: 50%;
        margin: 5%;
    }

    .skills {
        width: 100%;
        height: 60%;
        flex-direction: column;
    }

    .hard {
        width: 80%;
        margin-bottom: 30px;
    }

    .hard h2 {
        font-size: 7vw;
    }

    .hard li {
        font-size: 4vw;
    }

    .soft {
        width: 80%;
        margin-bottom: 30px;
    }

    .soft h2 {
        font-size: 7vw;
    }

    .soft li {
        font-size: 4vw;
    }
    /* Background Section */

    .about_container{
        height: 100%;
    }

    .about_title {
        width: 80%;
        margin-top: 10px;
    }

    .about_title h1{
        font-size: 9vw;
    }

    .about_content{
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        height: 100%;
        padding: 3%;
        margin-bottom: 30px;
    }

    .card h2 {
        font-size: 10vw;
        margin: 0;
    }

    .card h3{
        font-size: 5vw;
    }

    .card p{
        font-size: 3vw;
    }

    /* Projects Section */

    .projects_container{
        height: 100%;
    }

    .projects_title {
        width: 80%;
        margin-top: 10%;
    }

    .projects_title h1 {
        font-size: 9vw;
    }

    .projects_content {
        flex-direction: column;
        align-items: center;
    }

    .project_card {
        width: 80%;
        height: 100%;
        padding: 3%;
    }

    /* Certifications Section */
    
    .certi_container {
        height: 100%;
    }

    .certi_title {
        width: 80%;
        margin-top: 10%;
    }

    .certi_title h1 {
        font-size: 9vw;
    }

    .certi_content {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .certi_row {
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }

    .certi_row img {
        width: 80%;
        margin: 10%;
    }

    /* Contact Section */

    .contact_title {
        width: 80%;
        margin-top: 10%;
    }

    .contact_title h1 {
        font-size: 9vw;
    }

    .phone {
        width: 80%;
    }

    .links {
        flex-direction: column;
        align-items:  center;
        height: 50%;
    }

    .link {
        width: 50%;
        height: 20%;
        font-size: 8vw;
        padding-top: 30px;
    }
}

/* Tables Devices */
@media (min-width: 481px) and (max-width: 1023px){
    /* Cover Section */
    .cover_content{
        flex-direction: column;
    }

    .cover_text{
        height: 40%;
        width: 80%;
    }

    .cover_container h1{
        font-size: 5vw;
    }

    .cover_container p{
        font-size: 3vw;
    }

    .cover_container img{
        max-width: 30%;
    }

    /* About Section */

    .me_container {
        height: 100%;
    }

    .me_title {
        width: 80%;
        margin-top: 10px;
    }

    .me_title h1 {
        font-size: 9vw;
    }

    .me_content {
        flex-direction: column;
    }

    .resume {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 40%;
    }

    .resume h2 {
        font-size: 5vw;
    }

    .resume p {
        font-size: 2.5vw;
    }

    .myself {
        width: 50%;
        margin: 5%;
    }

    .languages {
        width: 50%;
        margin: 5%;
    }

    .skills {
        width: 100%;
        height: 60%;
        flex-direction: column;
    }

    .hard {
        width: 80%;
        margin-bottom: 30px;
    }

    .hard h2 {
        font-size: 7vw;
    }

    .hard li {
        font-size: 4vw;
    }

    .soft {
        width: 80%;
        margin-bottom: 30px;
    }

    .soft h2 {
        font-size: 7vw;
    }

    .soft li {
        font-size: 4vw;
    }

    /* Background Section */

    .about_container{
        height: 100%;
    }

    .about_title {
        width: 80%;
        margin-top: 50px;
    }

    .about_title h1{
        font-size: 9vw;
    }

    .about_content{
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        height: 100%;
        padding: 5%;
    }

    .card h2 {
        font-size: 8vw;
        margin: 0;
    }

    .card h3{
        font-size: 5vw;
    }

    .card p{
        font-size: 3vw;
    }

    /* Projects Section */
    .projects_container{
        height: 100%;
    }

    .projects_title {
        width: 80%;
        margin-top: 10%;
    }

    .projects_title h1 {
        font-size: 9vw;
    }

    .projects_content {
        flex-direction: column;
        align-items: center;
    }

    .project_card {
        width: 80%;
        height: 100%;
        padding: 3%;
    }

    /* Certification Section */

    .certi_container {
        height: 100%;
    }

    .certi_title {
        width: 80%;
        margin-top: 10%;
    }

    .certi_title h1 {
        font-size: 9vw;
    }

    .certi_content {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .certi_row {
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }

    .certi_row img {
        width: 80%;
        margin: 10%;
    }

    /* Contact Section */

    .contact_title {
        width: 80%;
        margin-top: 10%;
    }

    .contact_title h1 {
        font-size: 9vw;
    }

    .phone {
        width: 80%;
        font-size: 4vw;
    }

    .links {
        flex-direction: column;
        align-items:  center;
        height: 50%;
    }

    .link {
        width: 50%;
        height: 20%;
        font-size: 8vw;
        padding-top: 30px;
    }
}   
