body {
    margin: 0;
    padding: 0;
    background-color:gainsboro;
    font-family: "Nunito", sans-serif; 
    display: flex;
}

/* CV Section (Left Side) */

.cv_container{
    background-color: white;
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    animation: transitionLeft 1s;
}

.cv_photo {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv_photo img {
    width: 60%;
    height: 80%;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.cv_photo img:hover {
    transform: scale(1.1);
}

.cv_personal_info {
    text-align: center;
    font-size: .7vw;
    height: 13%;
}

.cv_personal_info h1 {
    margin: 0;
}

.links {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-evenly;
}

.links div {
    width: 30%;
    display: flex;
    justify-content: center;
}

.links img {
    height: 70%;
    border-radius: 50%;
    transition: filter 0.3s ease;
}

.links img:hover {
    filter: invert(1);
}

.languages {
   text-align: center;
   font-size: .5vw;
   transition: transform 0.3s ease;
}

.languages:hover {
    transform: scale(1.2);
}


.languages_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.l1 {
    padding-bottom: 10%;
    display: flex;
    justify-content: space-evenly;
}

.l2 {
    padding-bottom: 10%;
    display: flex;
    justify-content: space-evenly;
}

.l3 {
    padding-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}

.languages_list img {
    width: 10%;
}

.l2 img {
    width: 40%;
}

.skills {
    font-size: .6vw;
    transition: transform 0.3s ease;
}

.skills:hover {
    transform: scale(1.2);
}

.skills h1 {
    text-align: center;
    margin-bottom: 0;
}


.skills ul {
    list-style: none;
    font-size: 1vw;
    padding-left: 10%;
}

.skills img {
    height: .7vw;
}

.cv {
    height: 5%;
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: filter 0.3s ease;
    font-size: .9vw;
}

.button:hover{
    filter: invert(1);
}

.cv img {
    height: 50%;
}


/* About Me Section */

.about_me_container {
    width: 80%;
    margin-left: 2.5%;
    height: 100vh;
}

.about_me_summary {
    background-color: white;
    height: 25%;
    border-bottom-left-radius: .6vw;
    border-bottom-right-radius: .6vw;
    padding-top: .5vw;
    animation: transitionUp 2s;
    transition: transform 0.3s ease;
}

.about_me_summary:hover {
    transform: scale(1.05);
}

.presentation{
    text-align: center;
}

.presentation h1 {
    margin: 0;
}

.about_me_sections {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.about_me1 {
    display: flex;
    height: 50%;
}

.work {
    display: flex;
    width: 50%;
}

.project {
    display: flex;
    width: 50%;
}

.education {
    display: flex;
    width: 50%;
}

.certifications {
    display: flex;
    width: 50%;
}

.section{
    width: 50%;
}

.section p {
    margin: 0;
}

.section h2 {
    margin-top: 5%;
}

.about_me2 {
    display: flex;
    height: 50%;
}


.description {
    width: 100%;
    background-color: white;
    border-radius: 1vh;
    padding: 1vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: transitionLeft 0.75s;
    transition: transform 0.3s ease;
}

.description a {
    width: 30%;
    text-align: center;
}

.description:hover {
    transform: scale(1.05);
}

.section_img{
    width: 50%;
    display: flex;
    align-items: center;
    animation: transitionDown 1s;
}

.section_img img {
    width: 80%;
    height: 50%;
    border-radius: 1vh;
    margin-left: 5%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

.section_img img:hover {
    transform: scale(1.05);
}

@keyframes transitionLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes transitionDown {
    from {
        opacity: 0;
        transform: translateY(100px);
        
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(-100px);
        
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
